* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}
.nav {
    width: 100%;
    height: 10rem;
    display: flex;
    position: fixed;
    z-index: 1000000;
    margin: 0 auto;
    transition: .5s;
}

.scroll {
    width: 100%;
    height: 75px;
    background-color: rgba(255,255,255,.85);
    border-bottom: 3px solid rgba(222,230,240,.85);
    display: flex;
    position: fixed;
    z-index: 1000000;
    margin: 0 auto;
    transition: .5s;
}

.scroll--logo {
    padding-right: 7px;
    width: 10%;
    height: inherit;
    position: relative;
    margin-left: 20%;
    transform: scale(0.8);
    transition: .5s;
}


.nav__logo {
    padding-right: 7px;
    width: 10%;
    height: inherit;
    position: relative;
    margin-left: 20%;
}

.nav__logo img {
    width: 100%;
    height: 100%;
}

.nav__logo img:hover {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: .5s;
}

.nav__div {
    display: flex;
    justify-content: ceter;
    width: 100%;
    height: inherit;
}
.item {
    position: relative;
    width: 15%;
    height: 100%;
}

.scroll--link {
    position: relative;
    width: 15%;
    height: 100%;
    border-left: 5px solid rgba(235, 235, 235, .7);
}


.nav__div a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    transition: .5s;
}


.nav__div a:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 2px;
    transform: translate(-50%, -50%) scale(1.3);
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    transition: .5s;
}
