.about {
  grid-row: info-start / info-end;

  display: flex;
  overflow: hidden;

  &__section {
    background: linear-gradient($color-third, $color-forth);

    width: 70vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 100%;
    height: 100%;
    margin: 6rem 0;
    width: 70%;
    height: calc(100% - 6rem);
    border-radius: 2rem;
    box-shadow: $box-shadow-1;

    background: linear-gradient($color-second, $color-fifth);

    overflow: hidden;

    display: flex;

    &__left {
      width: 50%;
      background: linear-gradient(
          rgba($color-second, 0.2),
          rgba($color-third, 0.2)
        ),
        url(../img/images/about-pizzeria.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__right {
      width: 50%;
    }
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    text-shadow: $text-shadow-1;
    padding: 2rem;
  }
}
