.gallery {
  grid-row: gallery-start / gallery-end;
  padding: 3rem 0 10rem 0;

  background: transparent;

  overflow: hidden;

  &__heading {
    margin-bottom: 2rem;

    @include respond(laptop) {
      font-size: 4.2rem;
      padding: 0 2rem;
    }
  }

  &__main {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 100rem;
    height: 60rem;

    margin: 2rem;

    @include respond(desktop) {
      width: 90rem;
      height: 50rem;
    }

    @include respond(laptop) {
      width: 70rem;
      height: 40rem;
    }

    @include respond(tablet) {
      width: 60rem;
      height: 35rem;
    }

    @include respond(phone) {
      width: 50rem;
      height: 30rem;
    }

    border: 1rem solid $color-second;

    overflow: hidden;
    border-radius: 2rem;

    box-shadow: $box-shadow-1;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        rgba($color-second, 0.2),
        rgba($color-third, 0.2)
      );
      z-index: 20;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
