.header {
  grid-row: [header-start] / [header-end];
  background-color: green;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  position: relative;

  background: linear-gradient(rgba($color-second, 0.4), rgba($color-third, 0.4)),
    url(../img/images/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  overflow: hidden;

  &__heading-1 {
    @extend %heading;

    margin-top: calc($nav-height + 12.5rem);
    font-size: 18rem;
    letter-spacing: 1rem;

    transform: skew(-14deg) rotate(-4deg);
  }

  &__heading-2 {
    @extend %heading;

    font-size: 15rem;

    transform: skew(-14deg) translate(15rem, -5rem) rotate(-4deg);
  }

  &__heading-3 {
    @extend %heading;

    font-size: 6rem;
    letter-spacing: 1.5rem;

    transform: skew(-15deg) translate(8rem, -6rem) rotate(-4deg);
  }

  &__left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__right {
    grid-row: 1 / -1;
    grid-column: 2 / 3;

    position: relative;

    background: linear-gradient(
        rgba($color-second, 0.4),
        rgba($color-third, 0.4)
      ),
      url(../img/images/header-pizza-right.jpg);
    background-size: cover;
    background-position: 100% 15%;

    transform: skew(-10deg) translateX(6.5rem);
    border-left: 1rem solid $color-first;
  }
}
