.footer {
  grid-row: footer-start / footer-end;
  background-color: $color-sixth;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  @include respond(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0rem;
  }

  justify-items: center;
  align-items: center;

  &__left {
    grid-column: 1 / 2;

    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tablet) {
      grid-row: 2 / 3;
    }
  }

  &__logo {
    grid-column: 2 / 3;
    width: 15rem;
    height: 15rem;

    @include respond(tablet) {
      grid-column: 1 / 2;
    }
  }

  &__right {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tablet) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    &__text {
      width: 70%;
      font-size: 1.8rem;

      a {
        font-size: 2rem;
      }

      @include respond(tablet) {
        width: 90%;
        padding: 2rem;
        font-size: 2.2rem;
        a {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__author {
    color: lightgrey;
    img {
      width: 1.8rem;
      height: 1.8rem;

      @include respond(tablet) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &:hover {
      color: $color-first;
    }
  }
}
