.gallery {
  grid-row: gallery-start / gallery-end;
  padding: 3rem 0 10rem 0;

  background: transparent;

  @supports (background-attachment: fixed) {
    background: linear-gradient(
        rgba($color-second, 0.2),
        rgba($color-third, 0.2)
      ),
      url(../img/images/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  overflow: hidden;

  &__heading {
    margin-bottom: 2rem;

    @include respond(laptop) {
      font-size: 4.2rem;
      padding: 0 2rem;
    }
  }

  &__main {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
