* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    background-color: $color-first;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Signika Negative", sans-serif;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-rows:
    [header-start] 100vh [header-end info-start] minmax(55rem, max-content)
    [info-end menu-start]
    max-content
    [menu-end delivery-start] max-content [delivery-end gallery-start] max-content [gallery-end ratings-start] max-content [ratings-end footer-start] max-content [footer-end];

  grid-template-columns: 100%;
}
