.hidden {
  display: none !important;
}

// display none only for smaller screens (less or equal than 768px)
.hidden--mobile {
  @media only screen and (min-width: 48.0625em) {
    display: none !important;
  } //768px
}

// display none only for bigger screens (more than 768px)
.hidden--desktop {
  @media only screen and (max-width: 48em) {
    display: none !important;
  } //768px
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.icon-text {
  &__container {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;

    @include respond(tablet) {
      width: 2.3rem;
      height: 2.3rem;
    }
  }

  &__text {
    font-size: 2rem;
  }
}

.table {
  &,
  td,
  td,
  th {
    font-size: 2rem;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5rem;
    color: white;
    text-shadow: $text-shadow-1;
  }
}
