:root {
  --nav-height: 7rem;
}

@include respond(phone) {
  :root {
    --nav-height: 5rem;
  }
}

$color-first: #dfb587;
$color-second: #cd9761;
$color-third: #f4b043;
$color-forth: #fbd771;
$color-fifth: #dd4f23;
$color-sixth: #c32b0e;

$nav-height: 7rem;

$text-shadow-1: rgba(black, 0.3) 0.2rem 0.2rem 1rem;
$box-shadow-1: rgba(black, 0.4) 1rem 1rem 1.5rem;

$card-width: 30rem;
$card-height: 45rem;
