.footer {
    color: white;
    width: 100%;
    height: 20rem;
    background: linear-gradient(42deg, rgb(30,32,25), rgb(70,30,52));
    transition: .5s;
}

.footer table {
    width: 100%;
    height: 100%;
}

.footer td {
    width: 33%;
    position: relative;
}

.footer img {
    display: block;
    margin: 0 auto;
}

.footer h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    transition: .5s;
}

.footer h2:hover {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    transition: .5s;
}

.footer h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}


.footer h4:hover {
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    transition: .5s;
}


.map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 700px;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 700px;
    width: 100%;
}


.footer--author {
    width: 100%;
    height: 6rem;
    background-color: black;
}

.footer--author h5 {
    font-size: 2rem;
    letter-spacing: 1rem;
    padding: 20px;
    text-align: center;
}


